[2012-11-15 08:34] bhgraham opened #2 "detect high load and nice recap process"
either need to nice the recap process, or detect high load (determine high load based on load and cores) and run only required pieces

[2012-11-15 08:34] bhgraham opened #3 "document performance indications for recap options."

[2012-12-21 01:06] buzzboy23 opened #6 "can fill logging partition and kill server"
(Moved here from original rs-sysmon tracking with very few edits)

It doesn't happen often, but recap can kill a server. Going on the premise that recap should go to lengths to ensure it's part of the solution, never part of the problem, I consider this a bug.

When configured to collect huge datasets, creating a new one ever 5 or 10 minutes can quickly fill the device behind /var/log/recap/

Exam

[2013-03-21 00:38] EdLeafe opened #8 "NOTICE: This repo is moving."
On the morning of Saturday, March 23, 2013, the 'rackspace' organization on GitHub will be reorganized. All repos will be moved to the new 'rackerlabs' organization, except for those that are designed to be used by Rackspace customers and which are fully supported.

Please update any links to this repo to reflect the new location within GitHub. For example, if the link to your repo is 'https://git

[2013-11-01 14:34] siso opened #13 "ls: cannot access fdisk_*.log: No such file or directory"
Issue with '-B' option:

[code]

[2013-11-01 14:47] #13 closed, assigned to siso

[2014-02-10 14:20] alanpearce opened #15 "Errors if apachectl is not found"
Since Rackspace installed recap on our server, I've received messages from cron about apachectl not being found. I've since had a look at it and edited the configuration to change the `USEFULLSTATUS` variable, but I think that the script should handle the situation more gracefully under its default configuration to avoid irritating server administrators.

[2014-05-16 15:26] siso opened #17 "Please issue with MySQL"
Quick hack:

*We’re seeing a somewhat recent issue with Plesk 11 servers where they will refuse to perform their automatic update because of the existence of the /root/.my.cnf file but rs-symon needs this because it simply runs a mysqladmin somewhere around lines 238 and 244. A simple hack is to define –uadmin –p`cat /etc/psa/.psa.shadow though a simple Plesk existence check would be best. I’m thi

[2014-05-20 17:02] gusmaskowitz opened #18 "Package recap as .rpm and .deb files"
Please package recap as .rpm and .deb files for simpler install and management on the server side. It is a great tool, but it is not acceptable to clone live code down from github on production machines.

I'm happy to help with the SPEC files and package creation, but wanted to log this issue so that it is visible and we can discuss and collaborate.

[2014-09-19 01:05] buzzboy23 opened #20 "create branches for dev and stable releases"
Request from the Rackspace RPM-dev team is to create branches with tags for dev and stable releases.  RPM builds at Rackspace (and any other builds for other packagers) would be pulled from stable releases where a tar would be created.

[2015-01-07 21:08] #15 closed

[2015-01-07 21:13] #8 closed

[2015-01-07 21:26] cgtx opened #23 "reorganize repo"
I'll take input from anyone, but specifically I'm looking for @bhgraham, @siso, and @buzzboy23 opinions.  What do you think about organizing the files into directories?  I created a branch "organize" where you can see the direction I am thinking about.  Specifically, move core files into src, and supplementary stuff into util.

[2015-01-07 21:50] siso commented on #23
Hey @cgtx, I like as it is neater.

Will it still be possibile to install *recap* from sources (```./recap-installer.sh```)?
Or when creating RPM we could use ```Makefile``` to change current dir layout to this one.

[2015-01-07 21:56] cgtx commented on #23
Either way.  Obviously the source paths in recap-installer.sh and the rpm spec would need to be adjusted.  Creating a Makefile might be the "proper" way to go, but I'm not very good with Makefile syntax.

[2015-01-07 22:01] siso commented on #23
I'm happy with writing the Makefile, and create, say, a ./rpm directory where building RPM package happens.
Do we have a script or document to create the RPM?

[2015-01-07 22:17] cgtx commented on #23
I can handle the RPM part.  Set up the makefile to follow this pattern.

[code]

If not specified, the `--prefix` should be `/usr/local/` so that way manual installs go there.

[2015-01-07 22:18] cgtx commented on #23
RPMs are now available at https://copr.fedoraproject.org/coprs/cgtx/recap/.

[2015-01-07 22:18] cgtx commented on #18
RPMs are now available at https://copr.fedoraproject.org/coprs/cgtx/recap/.

[2015-01-07 22:21] cgtx commented on #23
Also, a good makefile would probably make recap-installer.sh obsolete, right?

[2015-01-07 22:30] siso commented on #23
Well spotted! ;)
Indeed, let's have different targets in Makefile to create RPM and install recap: ```make rpm``` and ```make install```

[2015-01-08 04:02] bhgraham commented on #23
As I do not use recap solely on Redhat, I would prefer any redhat or
distribution specific files to go in their own directories.  Anything core
to recap should be in the top level directory.

If you are going to go the Makefile path, then at least build it from the
start for Debian and Redhat both.  I could help with the debian piece
(preferably using checkinstall).

Really the makefile should be

[2015-01-08 04:14] siso commented on #23
@bhgraham I think files should be in the dirs below:

[code]

Then ```rpm``` and ```dist``` dirs would be created by ```make rpm```, and deleted by ```make clean```.

[2015-01-31 15:52] #6 closed

[2015-01-31 15:58] bhgraham commented on #20
Branches for master and development and tags for 0.9.8, stable, and development created.
Closing this.

[2015-01-31 16:45] #17 closed

[2015-01-31 16:46] #2 closed

[2015-01-31 16:50] bhgraham commented on #3
Resolving issue #2 makes this unneeded for now. Closing unless someone else needs it.

[2015-01-31 16:50] #3 closed

[2015-02-05 15:44] cgtx commented on #20
Having a tag `development` is causing issues for me when I try to check out the `development` branch.  It results in a detached HEAD state.  Tags should only be used for releases.  I don't see the point in having a tag named `development` since that will be constantly changing.  Likewise, a tag for `stable` doesn't make much sense, stable should be the latest version tag.

If no one is opposed, I'

[2015-02-05 17:19] bhgraham commented on #20
I had made the tag name "dev" to prevent this, but I didn't see a point in a tagged dev either.  Anyone else think we need this?

[2015-05-14 12:50] mstevens opened #27 "Document MAXLOAD option"
Tried to run recap on a moderately loaded server, only to get a MAXLOAD related error.

Was able to get it to run by reading the source and setting the MAXLOAD option, but this is not documented.

Please add to the docs :)

[2015-05-14 13:21] carlgeorge commented on #27
How are you running recap?  If you are running the code from the master branch (or from the copr I set up) then MAXLOAD is going to [default to 0.8](https://github.com/rackerlabs/recap/blob/c427a878aa34b6de2cb90748404d14b74bab0310/recap#L52).  In the development version, this has been improved to instead default to the number of cores of the server (see #25).  I also have #26 open to better descri

[2015-05-14 13:23] mstevens commented on #27
I'm running the master branch, where it seems to default to 0.8 and is totally undocumented.

[2015-05-15 17:48] carlgeorge commented on #23
Don't bother trying to create an RPM via the Makefile (`make rpm`).  Just have the Makefile do the basics of putting the files in place.  The RPM spec file will handle calling `make install` and then creating the RPM.

[2015-05-19 01:29] siso commented on #23
@carlgeorge sounds good to me
I do not like all files in just one dir either.

How would you create the RPM package?

[2015-05-19 14:26] carlgeorge commented on #23
The RPM is created by [the spec file](https://github.com/rackerlabs/recap/blob/master/recap.spec).

[2015-06-04 16:21] didlix opened #29 "recaptool looking for wrong files"
recaptool is looking for files in the format of `ps.log*` but files are being created in this format `ps_20150604-161956.log`

[2015-06-09 04:31] codebauss commented on #29
Thank you for pointing this out. A pull request has been submitted to resolve.

[2015-06-18 16:17] man-chung commented on #27
MAXLOAD=1000 now, and has been merged into master.
Closing.

[2015-06-18 16:17] #27 closed

[2015-08-06 09:39] man-chung commented on #23
Since I merged some PRs, I made a new branch for reorganising:

https://github.com/rackerlabs/recap/tree/reorg

MAn

[2015-08-17 12:16] man-chung commented on #23
Delete "organize" since we are now working on "reorg" (reorg contains latest merges where as organize does not).

[2015-09-09 09:42] mstevens opened #35 "Is there any way to make it stop sending me an email daily?"
Is there any way to make it stop sending me an email daily?

I just want the logs.

[2015-09-09 12:50] carlgeorge commented on #35
Yes, just unset the MAILTO variable in the config file.

https://github.com/rackerlabs/recap/blob/0.9.8/recap.conf#L16-L18
https://github.com/rackerlabs/recap/blob/0.9.8/recap#L718-L721

[2015-09-10 08:11] mstevens commented on #35
Tested this, I still get emailed every day by recaplog:

[DD] packing fdisk...
[DD] do compress old log files
cat: /var/log/recap/fdisk_20150909-*.log: No such file or directory
ls: cannot access /var/log/recap/fdisk_20150909-*.log: No such file or directory
[DD] packing mysql...
[DD] do compress old log files
[DD] deleting: /var/log/recap/mysql_20150909-000001.log
[DD] deleting: /var/log/recap/my

[2015-09-28 09:26] timoguic opened #36 "Recap does not use custom my.cnf files for mysql process list"
The script does not use the custom my.cnf files that are specified in /etc/recap. More precisely, line 328 and 335:

----
                                mysql -e "show full processlist\G" >> $MYSQL_FILE
----
                        mysqladmin -v processlist >> $MYSQL_FILE
----

The above throws an error if MySQL root requires a password... I guess the whole block should be enclosed in a 'for cnf

[2015-11-04 15:56] #18 closed

[2015-12-10 23:24] kimvette opened #39 "change processor utilisation report; report inaccurate"
Hi team!

I'd like to point out that relying on 'ps' for processor utilisation can lead to incorrect conclusions and if used for alert generation, can raise tickets based on outdated data. Why? From the ps man page:

Looking at processsor utilisation via "ps" isn't worthless; it is useful for identifying long-term trends but consider this: you've had a server that has been up for a few months and

[2015-12-11 12:38] man-chung commented on #39
Hi,

Thank you for your feedback,

The design intention was not to alert for CPU utilisation - there are far more accurate, reliable, and timely tools/methods that fullfil that role (in real time, rather than waiting to parsing the recap output files).

Recap was designed to allow administrators a point in time view of the state of the server (likely, during the time of an incident/issue), much li

[2015-12-21 11:58] man-chung opened #40 "Dependencies List"
bc
/root/.my.cnf

[2015-12-21 23:05] carlwgeorge commented on #40
`/root/.my.cnf` isn't needed if the mysql report is disabled, correct?  The latest versions of RPM have the idea of "weak" dependencies, where a package can suggest other packages, but not strictly require them.  Unfortunately, it will be a while before RHEL gets that capability.  I think the dependency list in the README should differentiate between the items that are 100% required, and those tha

[2015-12-22 15:40] man-chung commented on #40
Sweet, sounds good to me. Thanks!

[2015-12-22 15:40] #40 closed

[2016-01-27 09:21] Beerey commented on #39
Realistically recap gets mostly used for investigation of performance issues.  I think having a "top 10 CPU using processes" list in there is misleading at best.  99/100 sysadmins would read that section as giving information similar to top (what are the processes using the most CPU within a second or two of when recap runs?) when in actual fact it's giving nothing of the sort.  For processes whic

[2016-01-27 09:46] piersc commented on #39
+1 for this change - recap should represent a snapshot of a point in time, not an average over an unclear period.

[2016-02-06 20:32] kimvette commented on #39
Any update on this?

On the flip side of the coin - if a long-running process is suddenly overwhelming the system it may not even be reported in the top ten CPU consuming processes in the recap snapshots, because the average that ps reports will not be noticeably higher unless the high utilisation is over a comparatively long period of time so the wrong processes will be captured by recap.

[2016-02-08 11:07] eljrax commented on #39
@Beerey @piersc

Just spoken with @man-chung - and we're OK with this change as well. Do either of you want to submit a PR with this enhancement?

[2016-02-08 16:03] piersc commented on #39
Like Kim says, although we can get this with something like top -d 5 -n 2 its pretty ugly; is there some better option you know of that we could use @eljrax ?

[2016-02-10 14:16] eljrax commented on #39
@piersc  - There's always `pidstat` - part of the sysstat package.

[code]

It can also do memory (with -r)

[2016-02-12 18:18] kimvette opened #43 "Feature request: top swap consumers"
When we get paging tickets there is often only a very brief window where we can capture what is hitting swap - yesterday I sat on an open ticket on a server that was flapping, because I missed the paging event then I finally caught it in action. It would be great if this script could be included in recap/rs-sysmon (you'll recognize this one from one of the Linux one-liners page - not mine):

 ` #

[2016-02-12 18:52] eljrax commented on #43
Hi @kimvette

The amount of swap used is not necessarily directly in correlation to the amount of pressure a process exerts on the swap.
Long-lived, rarely used pages are often put into swap, even when there are free residential pages available! They're also not automatically read back in if there at some point in time has been an issue with memory resources and the situation improves to the point

[2016-02-26 14:40] thebwt commented on #23
So can we make reorg master? The debian package is built directly form that branch, the install script is adjusted for those paths, and the RPM should be able to adjust (I believe in them). Can we call the reorg done and work forward from there?

[2016-05-03 14:43] carlwgeorge commented on #23
The reorg branch has been merged into master with an appropriate Makefile.

[2016-05-03 14:43] #23 closed

[2016-05-04 20:20] carlwgeorge opened #53 "need manpage for recaptool"
We have man pages for `recap` and `recaplog`, but not for `recaptool`.  Can someone familiar with that utility write one?

[2016-05-04 20:49] carlwgeorge opened #54 "man page for recaplog not used"
The man page for `recaplog` exists in the repo, but it isn't used by the bash installer or the Makefile (or the spec file).

[2016-05-04 20:49] #54 closed

[2016-05-10 15:32] #43 closed

[2016-05-13 06:54] njohansson opened #56 "Turn of output to stdout?"
I just received our first Rackspace server having recap installed so I have no prior experience with it.
I noticed that by default I receive a nightly e-mail at 01:00 with the output from recaplog which I've pinpointed to the last line in /etc/cron.d/recap:

[code]

This e-mail provides no value to me so I'd rather like to shut it off. I noticed someone touching the same subject in #35 but it was

[2016-05-13 13:47] carlwgeorge commented on #56
Thanks for the feedback @njohansson.  I was the one that closed #35, but for some reason I never saw that follow up comment after I closed it.  If this is the exact same issue, let's merge the issues (reopen #35 and close this one).

I'm not sure yet what the best way to approach this yet is, but I can tell you that adding `> /dev/null` to /etc/cron.d/recap will not be overwritten by future update

[2016-05-13 13:50] carlwgeorge commented on #35
Sorry @mstevens, somehow I never noticed your follow up comment.

Does changing [EMAIL_ON_ERROR to 0 in the recaplog file](https://github.com/rackerlabs/recap/blob/0.9.14/src/recaplog#L41) make a difference?  It could be that or the use of the tee command [here](https://github.com/rackerlabs/recap/blob/0.9.14/src/recaplog#L62).

[2016-05-13 13:51] njohansson commented on #56
That sounds perfectly fine - many thanks!

[2016-05-13 13:51] #56 closed

[2016-05-13 13:54] njohansson commented on #35
I can confirm setting EMAIL_ON_ERROR to 0 doesn't make any difference (just tested on our server). It shouldn't really either as you can see the check for EMAIL_ON_ERROR happens after passing message to tee in print_msg()

[2016-05-26 15:47] tonyskapunk opened #59 "recap is "touching" rs-sysmon package files - should recap obsolete rs-sysmon"
Noticed the [%post](https://github.com/rackerlabs/recap/blob/master/util/packaging/rpm/recap.spec#L50-L71) script is doing some changes if `rs-sysmon` files are found in the system where `recap` is being installed, based on those I submitted #58 but since there is no interaction between `recap` and `rs-sysmon` RPMs I think this is a good opportunity to define whether or not `recap` should `Obsolet

[2016-05-26 17:58] carlwgeorge commented on #39
If we are going to use pidstat, that is going to imply a minimum version of sysstat.  I don't know what version it was added in, but it doesn't exist in EL5's sysstat 7.0.2.

[2016-05-26 18:03] carlwgeorge commented on #39
To be clear, I'm not necessarily against doing that.  EL5 is terribly old.  If we do decide that EL5-compatibility doesn't matter, we can also make the minimum version of bash 4.  That would allow some code cleanup, such as being able to replace instances of `foo 2>&1 | bar` with `foo |& bar`.

[2016-05-26 20:43] kimvette commented on #39
Considering that RHEL5 is past EOL and we're not selling it any more it's a nonissue, as customers will likely be more eager to migrate to RHEL7 as compliance security requirements (PCI, HIPAA regs, etc.) necessitate updates.

[2016-05-26 20:56] carlwgeorge commented on #39
EL5 doesn't go EOL until [2017-03-31](https://access.redhat.com/support/policy/updates/errata/#Life_Cycle_Dates).  Whether or not Rackspace sells EL5 anymore doesn't matter, because this is a public project.

[2016-05-27 10:33] man-chung commented on #59
Yes, we should Obsolete and remove the %post script. +1 from me

[2016-06-06 14:35] tonyskapunk commented on #59
PR #60 proposes `Conflicts` I suggest `Obsoletes` as mentioned in here https://github.com/rackerlabs/recap/pull/60#issuecomment-222166268 any comments, ideas or suggestions?

[2016-06-07 16:10] Nohau opened #61 "recap log.gz files don't rotate"
I have noticed the recap gzip files don't rotate properly after looking into it the regex is wrong inside /usr/sbin/recaplog here is a example :

find $BASEDIR -maxdepth 1 -regextype grep -regex "${BASEDIR}/[a-z]*_[0-9]{8}-[0-9]{6}.log.gz" -type f -mtime +$LOG_EXPIRY -exec echo rm {} \;  | tee -a $LOGFILE

The file name is the following that gets made when rotated :

netstat_daily_20160602.log.gz

[2016-06-07 17:24] thebwt commented on #61
That's a pretty simple fix, why don't you open a pull request (make sure to mention "issue #61"), and then you can get the credit for the change.

[2016-06-07 17:51] thebwt commented on #20
While the letter of the issue is complete, the spirit is thus:

##Master is stablish
That means that at any given point master is broken while someone is trying to work an issue with commits directly to master, it should be working but will ceratinly have ..

##**Issues** are resolved in their own branch
When we have a hypothetical solution to an issue, you open a pull request against a new branch

[2016-06-08 03:15] JayGoldberg opened #63 "Log output paths are set using $BASEDIR variable before custom .conf has a chance to set it"
Therefore you end up with a hybrid variable set, such as:

BASEDIR -> /home/jay/log
PS_LOG -> /var/log/recap/ps-20160607.log

[2016-06-08 06:30] JayGoldberg commented on #39
I like the idea of being more agnostic, perhaps using `/proc/<PID>/stat`?

[2016-06-08 06:36] JayGoldberg commented on #63
Perhaps this can be accomplished using default syntax for variables, in combination with importing the .conf file first.

[code]

[code]

"If BASEDIR defined, set to $BASEDIR, otherwise, set to `/var/log/recap`."

[2016-09-13 15:11] bsmoo opened #64 "Plesk MySQL info"
There is a typo with the MySQL checks for plesk servers, the username is set to `admint` not `admin`

https://github.com/rackerlabs/recap/blob/master/src/recap#L324

[2016-09-13 15:59] man-chung commented on #64
merged, so closing

[2016-09-13 15:59] #64 closed

[2016-10-07 14:45] tonyskapunk commented on #53
Added PR #66 to close this issue, please review.

[2016-10-10 22:01] tonyskapunk commented on #29
This has been fixed in #51 and #52

[2016-10-10 22:01] #29 closed

[2016-10-28 14:11] tonyskapunk commented on #36
Hi @timoguic, seems like what you reported was fixed back in 07eb9b93, thanks.

[2016-10-28 14:11] #36 closed

[2016-11-04 15:09] StafDehat commented on #35
Seems to me that the "correct" fix would be to modify the recaplog script to accept --quiet, --silent, or --debug (and default to quiet) arguments.  The script src/recap.cron would then have to invoke recaplog with the correct arguments.

Alternatively, just edit src/recap.cron to include the typical cron "2>&1 >/dev/null".  That being said, the way we're currently running 'find' is causing output

[2016-12-16 16:53] #53 closed

[2016-12-16 17:04] carlwgeorge commented on #59
[Best practice](https://fedoraproject.org/wiki/Packaging:Guidelines#Renaming.2FReplacing_Existing_Packages) is to put an upper limit on the obsoletes, just in case you ever need to revert it.  The last version of rs-sysmon I can find was 0.9.5-1.rs, so we should use:

[code]

Also, if we feel that recap is a "compatible enough replacement" for rs-sysmon, we should have it provide the rs-sysmon nam

[2016-12-16 17:19] bhgraham commented on #59
Definitely, that was always the goal to be the full replacement.  I am all for adding the provides and obsoletes.

And if we are saying it is stable to be the replacement, we should version up to 1.0 as well.

[2016-12-16 17:33] tonyskapunk commented on #59
@carlwgeorge  @bhgraham thanks for the input, I'll make sure `Obsoletes` and `Provides` are included in #60.

Regarding bumping to `1.0` I'd wait as there are still some PR and issues reported, trying to catch up on those.

[2017-01-13 15:30] tonyskapunk commented on #20
I'm seeing the same issues as @cgtx (when moving to `development` branch I get into a `detached HEAD` state, I've compared the commits in that branch and in `master` and there is no difference up to 66cc7f1 where `development` `HEAD` is, I have no preference either using [`Git-Flow`][1] or [`GitHub Flow`][2] but as @thebwt has pointed out all the PRs in the last year have been following the latter

[2017-01-13 15:30] #20 closed

[2017-01-13 17:22] tonyskapunk commented on #39
For this one the easiest is to wait until RHEL/CentOS 5 is EOL (two months from now) as I don't know how much of an effort will be to do the calculation using `/proc/PID/`. Is not the best option but we can put those efforts into something else as currently there is a good amount of PR that require attention so we can have a new release.

[2017-01-13 17:24] tonyskapunk commented on #35
First of all, sorry for closing that PR from @StafDehat it happened when closing #20, the fix for this problem is now proposed in #72

[2017-01-13 17:25] tonyskapunk commented on #61
This should be addressed by #72

[2017-01-13 17:41] carlwgeorge commented on #39
You don't have to wait until EL5 EOL, just go ahead and include new minimum requirements in the release notes (i.e. bash >= 4, sysstat >= 9, etc).  That would be clear indication for packaging that the update won't be published for EL5.

[2017-01-13 18:58] tonyskapunk commented on #63
@JayGoldberg yeah I see your point, part of the problem in here is the lack of documentation on the variables that can be used in `/etc/recap` to override the defaults in the tools (`recap`, `recaptool`, `recaplog`), one of the difficulties on the implementation of what you suggest is that every variable that can be overridden must have a default value in these tools, e.g. `BASEDIR` as you pointed

[2017-01-14 08:44] kruzda opened #74 "Execution via Cron is enabled by default"
The readme clearly states that: "By default the cron execution of the program is not enabled."
Yet in the file https://github.com/rackerlabs/recap/blob/master/src/recap.cron which is copied to /etc/cron.d during installation, the following line is not commented:
*/10 * * * * root /usr/sbin/recap

[2017-01-20 15:17] tonyskapunk commented on #74
@kruzda thanks for pointing that out, I've committed #75  to clarify that indeed the cronjob is enabled and not only for `recap` but also for `recaplog`.

[2017-01-20 15:19] #74 closed

[2017-01-20 15:49] tonyskapunk commented on #39
@carlwgeorge sounds good, since at this point we are aiming for v `1.0` I'm going to close #71 and reuse part of that commit to include one single commit with these additions and bumping it to `1.0`

[2017-01-20 17:49] tonyskapunk opened #76 "mysql functions using --defaults-extra-file"
Currently `recap` on a couple of mysql functions is making use of `--defaults-extra-file` this is causing that any argument defined later in other sourced locations override what's defined in that configuration passed, thus failing as the example below demonstrates.  This is mainly important when there are more than one configuration passed to `/etc/recap`.

The order the config files are sources

[2017-01-27 21:38] tonyskapunk commented on #63
@JayGoldberg this wasn't easy :) a lot of code was modified but it looks a lot better from my PoV. #78 should address this.

Here some testing I performed:
* Config:

[code]

* Verifying the directory does not exist prior my test:

[code]

* Testing `recap`

[code]

* Testing `backups`

[code]

* Testing `snapshots`

[code]

Please take a look and let me know if that works for you.

[2017-02-22 23:26] tonyskapunk opened #80 "Config file location"
Based on the discussion on #79 revisit the location for the configuration file, currently in `/etc/recap` the discussion in that PR suggests that it might be better to have it under `/etc/recap.conf` we can discuss the pros, cons in this issue rather that on the PR.

[2017-02-22 23:31] troyengel commented on #80
One option: the package post-install could try and track if it's upgrading and rename the config file for us? I'm unsure what the DEB vs. RPM difference in capabilities are here, just adding as a possible idea pile.

[2017-02-24 17:58] carlwgeorge commented on #80
Two things can happen during the upgrade if we change `%{_sysconfdir}/recap` to `%{_sysconfdir}/recap.conf` in the spec file.

1. If the file is unmodified, `/etc/recap` is removed and `/etc/recap.conf` is created.  Effectively a simple move.
2. If the file has been modified, `/etc/recap` is renamed to `/etc/recap.rpmsave` and `/etc/recap.conf` is created.  Requires manual merging of those two fil

[2017-03-10 18:21] StafDehat opened #81 "MySQL defaults-file location(s)"
Per discussion here:
https://github.com/rackerlabs/recap/pull/78#discussion_r104782292

We should decide whether we're going to use 1x my.cnf defaults-file, or if we're going to attempt to read multiple configs (and subsequently, potentially report on multiple SQL instances).

[2017-03-10 18:25] StafDehat commented on #81
Relates to this too: https://github.com/rackerlabs/recap/pull/78#discussion_r104780600

[2017-03-17 14:56] tonyskapunk commented on #81
From the PR #78

These are the options:

1. No support to multiple mysql configs - We will drop that support and stick to defaults
1. Support multiple mysql configs.
   A rework is required on the mysql functions some implement the support to multiple configs like `print_mysql`, `print_mysql_procs`, but not for `print_mysql_innodb_status` All these functions are being called from: `run_mysql_repor

[2017-03-17 16:04] StafDehat commented on #81
Honestly, I'd be happy with option 1.  Multiple instances on one box will be a one-off.  If someone needs that functionality, they're welcome to fork and/or PR.

[2017-03-17 18:06] tonyskapunk commented on #81
ended up implementing these under #78 commit: 		d1d27cd

[2017-03-28 21:36] tonyskapunk opened #83 "hardcoded PATH for /etc/cron.d/recap"
PR #82 exposed an issue with the `src/recap.cron` file as it has hardcoded PATH to the scripts used by it.

Here reproducing the problem:

[code]

The only problem is the cron:
[code]
Which points to the `/usr/sbin` instead of where `PREFIX` is pointed which by default is `/usr/local` References for this:

- /usr/local - https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s09.html
- /usr/local/sh

[2017-04-24 13:58] #83 closed

[2017-04-26 08:05] erranfenech opened #86 "Fdisk warning about GPT partiion"
Hi guys

Wanted to find out if you could assist?

Recap has been configured to notify the recipient  via email of any errors, one of the errors that is constantly been highlighted is that fdisk sees a GPT partition, every time this runs its fires off an email.

Do you have a fix for this? EG:

----------
# fdisk -l /dev/sdb

WARNING: GPT (GUID Partition Table) detected on '/dev/sdb'! The util fdis

[2017-04-27 21:39] tonyskapunk commented on #61
Fixed in #72

[2017-04-27 21:39] #61 closed

[2017-04-27 21:40] tonyskapunk commented on #35
Fixed in #72

[2017-04-27 21:40] #35 closed

[2017-04-27 22:45] tonyskapunk commented on #86
Hi @erranfenech, Thanks for reporting this.

Is definitely not an error, in your example `fdisk` is not the right tool for gathering the details of the GPT table for your block device `/dev/sdb`, a quick fix is using `parted` instead as both have similar functionality with `-l` but the output is a bit different.

In this test I have a centos 7 for testing, see how the ```WARNING: fdisk GPT support

[2017-04-28 20:56] tonyskapunk commented on #86
I updated https://gist.github.com/tonyskapunk/30c5c9aad279d9718ffe74230c73ef3a with the outputs of `fdisk` and `parted` for:
- centos 7,6
- debian 8,7
- ubuntu 14.04,16.04

From my tests I found that centos 6, debian 7, ubuntu 14.04 and centos 7 sent output to **stderr** when using `fdisk` (see below), most of the outputs suggest using `GNU parted`, then this supports that the preferred option sho

[2017-04-28 21:41] tonyskapunk commented on #86
Created commit 9dd06a8 on #78 to address this.

An example on a centos 7 looks like this:

### Using fdisk
[code]

### Using parted
[code]

[2017-05-03 16:29] tonyskapunk commented on #86
I removed the last commit that "fixed" this, due to potential issues pointed out by @StafDeHat in #78 (https://github.com/rackerlabs/recap/commit/9dd06a80d972dfb2aec32f7345972ad70a2b6246) this will need to be re-evaluated.

[2017-05-15 17:06] tonyskapunk commented on #86
Added new commit 02e12c6 , this one simply includes `stderr` into `stdout` to prevent errors, but still logs the Warning message about GPT into the logs. Fix #86

[2017-05-15 19:46] #63 closed

[2017-05-15 19:46] #86 closed

[2017-05-15 19:48] tonyskapunk commented on #81
Fixed on #78

[2017-05-15 19:48] #81 closed

[2017-05-15 21:16] tonyskapunk commented on #39
At this point EL5 is EOL, I'm closing this as we are ready to launch `1.0.0` PR #89

[2017-05-15 21:16] #39 closed

[2017-05-16 15:50] tonyskapunk opened #90 "recap installer vs makefile"
Seems a duplicated effort having two scripts that produce almost the same outcome, here the differences between them:

1. `Recap-installer` is more explicit with directory permissions than `Makefile`:
[code]
2. The `recap-installer` places the docs in a [directory dependent of the version](https://github.com/rackerlabs/recap/blob/master/util/recap-installer#L54-L56), The [makefile is generic](http

[2017-05-17 19:13] carlwgeorge commented on #90
IIRC the original intent was for the Makefile to obsolete the installer script.  Some extra notes:

* Regarding 2, check out https://fedoraproject.org/wiki/Changes/UnversionedDocdirs.  That only applies to Fedora, and RHEL/EPEL packages still use the old versioned style.  It is handled automatically by the `%doc` and `%license` macros, so we don't have to adjust for it in the spec file.  But that

[2017-05-17 22:31] tonyskapunk commented on #90
@carlwgeorge thanks for that info, that pretty much translates to advantages on the `Makefile` for (2) keep using `$(DESTDIR)$(DOCDIR)/recap`  and for (4) don't compressing man pages.

[2017-05-26 15:24] tonyskapunk commented on #90
Additionally, there is no way to `uninstall` using the script, another good reason to get rid of it :)

[2017-06-01 21:47] tonyskapunk commented on #90
Fix on #89

[2017-06-01 21:47] #90 closed

[2017-06-01 21:48] tonyskapunk commented on #59
Fix on #89

[2017-06-01 21:48] #59 closed

[2017-06-07 13:57] troyengel opened #94 "recap.conf enables FULLSTATUS by default causing email spam (bad config)"
The recap.conf configuration has this enabled/on by default:
https://github.com/rackerlabs/recap/blob/master/src/recap.conf#L54
[code]

The internal default for this variable is no:
https://github.com/rackerlabs/recap/blob/master/src/recap#L66
[code]

This is broken in a few ways:

1. The code uses 'apachectl fullstatus' not 'service httpd fullstatus' as documented
1. The default external config d

[2017-06-07 14:32] tonyskapunk commented on #94
It will be sane to look at all default settings as well, as I believe the one you reported would  not be the only one, thanks for the report.

[2017-06-07 15:58] tonyskapunk commented on #94
Documenting here the current defaults:

### `recap.conf` or `/etc/recap`
[code]

### `recap`
[code]

### recaplog
[code]

### recaptool
[code]

[2017-06-07 23:52] troyengel commented on #94
The USEMYSQL* options look like a target we should think about as well, it's default =no but the config is =yes. I think it should follow the Apache change, as not everyone will have MySQL installed by default. I would love for the SAR to be enabled by default, but that's also not installed by default by vendors. :-/

[2017-06-08 13:19] tonyskapunk commented on #94
Right, there are quite a few defaults settings that need to be changed. I'm documenting them all and will provide the details pretty soon.

[2017-06-08 17:27] StafDehat commented on #94
I'd suggest making sar/sysstat a dependency of the recap package.  Apache and MySQL, yeah that'll vary, but if people want recap logs, it stands to reason that they're not opposed to having sar.

[2017-06-08 18:47] tonyskapunk commented on #94
It is already [a dependency](https://github.com/rackerlabs/recap/blob/master/util/packaging/rpm/recap.spec#L11), not only for sar(script), but sysstat(package) provides other scripts that are consumed by recap.

[2017-06-08 19:15] carlwgeorge commented on #94
Speaking of, can I get a list of packages that enhance recap, such as httpd and mysql/mariadb?  There is a newer RPM concept called [weak](http://rpm.org/user_doc/dependencies.html#weak-dependencies) [dependencies](https://fedoraproject.org/wiki/Packaging:WeakDependencies) that let you specify optional dependencies.  It's only applicable to Fedora (RPM 4.12+), but I can conditionalize it in the sp

[2017-06-08 19:31] tonyskapunk commented on #94
Sure, shouldn't be a problem, I'm building a "map" to track the dependencies on the settings available, I should be able to provide that list, although I'll provide for both RPMs and DEBs.

[2017-06-09 17:30] tonyskapunk commented on #94
I've documented all the current status of the defaults, personal [notes are here](https://gist.github.com/tonyskapunk/ce601c67014982a8509f410bc661c974), I'm working on aligning them and will come up with a PR once completed.

[2017-06-09 18:38] troyengel commented on #94
it's a lot of work - if you want to make Issues for groups of work, I am happy to help tackle some of it. :) I left a small comment on the gist...

[2017-06-11 15:34] kevi5702 opened #97 "Move daily files in to subfolder"
Wanted to suggest a feature enhancement that log.gz files be placed in a subfolder such as:
/var/log/recap/daily

This may make it a bit easier to parse/organize log files under recap that has been running for some time. Happy to make the PR if this seems like a good enhancement to others.

[2017-06-12 14:51] tonyskapunk commented on #97
Hey @kevi5702 , on `1.0.0` some of this is already implemented, [documented in the code here](https://github.com/rackerlabs/recap/blob/master/src/recaplog#L144-L149), this was introduced in  #72, the way a similar behavior occurs is through `recaplog`, `recap` keeps populating logs into `/var/log/recap`,  `recaplog` is the one that takes care of moving logs on a daily basis and performs two differ

[2017-06-12 14:51] #97 closed

[2017-06-13 13:55] carlwgeorge opened #98 "750 log directory permissions"
I'm working on packaging recap for Fedora/EPEL.  Rpmlint complains about the 750 permissions on the log directories.

[code]

These were set this way in [2012](https://github.com/rackerlabs/recap/blob/1.0.0/CHANGELOG.md#092---2012-11-01).  Are these permissions actually necessary?  Is any recap output actually sensitive?

References:
* https://github.com/rackerlabs/recap/blob/1.0.0/Makefile#L42-L4

[2017-06-13 14:21] tonyskapunk commented on #98
@carlwgeorge noted the same while working on #94, I was initially to make the changes in there but don't want to hold for those changes, here the PR #99, although, I'm doing the changes to `development` as I want to implement `gitflow` to this repo, as soon as I can perform the fix to #94 I'll release a new version to `master`.

[2017-06-14 16:23] piersc commented on #98
recap can record things that wouldn't otherwise be visible to a non-superuser, e.g. the process associated with a connection in netstat output or the MySQL process list. For this reason the logs probably shouldn't be visible to non-root.

[2017-06-14 18:02] tonyskapunk commented on #98
@piersc that's a good point, in any case we can drop those from `/var/log/recap/{backups,snapshots}` but leave them on `/var/log/recap`. @carlwgeorge how mariadbNNNu handles these perms for `/var/log/mysql` that would be a similar case...  if that's handled via rpm scripts then what would be a good compromise?

[2017-06-14 20:25] carlwgeorge commented on #98
Yes, it's enforced in the [`%files server`](https://git.centos.org/blob/rpms!mariadb.git/4bb35b1ce970536e6506270c5687be349712fdb4/SPECS!mariadb.spec#L695) section of the spec file.

`%attr(0750,mysql,mysql) %dir %{_localstatedir}/log/mariadb`

[2017-06-14 21:45] tonyskapunk commented on #98
I changed back the perms(b9150b6) on `/var/log/recap/` (`BASEDIR`).

I'd think this should still complain on the perms(?).  But I guess that can be "fixed" with:
```%attr{0750} %dir %{_localstatedir}/log/recap```

btw, I ran rpmlint with the current code and the suggestion above and all I got is a warning:
[code]

[2017-06-14 22:36] carlwgeorge commented on #98
rpmlint complains on the RPM itself (`recap.noarch` in the original comment), not the spec file (which would have shown as `recap.spec`).  It is not required to eliminate all rpmlint warnings.  In the package review it was just requested to start the discussion here and hopefully get the justification documented somewhere.

[2017-06-16 16:08] tonyskapunk commented on #98
Yeah, I agree with @piersc we need to retain `0750` for the `/var/log/recap` (default) dir. Due to information that would be obtained only under elevated privileges.

Out of curiosity, I tried `rpmlint` on [mariadb101u](https://dl.iuscommunity.org/pub/ius/stable/CentOS/7/x86_64/mariadb101u-server-utils-10.1.24-1.ius.centos7.x86_64.rpm) and despite the [spec file](https://github.com/iuscommunity-pk

[2017-06-16 16:24] carlwgeorge commented on #98
That dir is owned by -server, not -server-utils.

[code]

Regardless, it isn't a blocker.  The perms can stay they way they are.  What is the point of merging #99?

[2017-06-16 16:50] tonyskapunk commented on #98
Ah, that's why, thanks!

The only effective changes in there are the perms in directories inside `/var/log/recap` (`snapshots`,`backups`) from 750 to 755, and removing the hard-coded perms in `recap`, perms are only set in `Makefile`

[2017-06-16 18:24] carlwgeorge commented on #98
Whoops, I didnt' scroll to the end to see the changes in src/recap, for some reason I thought it was only changes to the Makefile.  I also noticed that it changes the script permissions from 755 to 750.  I don't think this is necessary, since the script already [checks if it is running as root](https://github.com/rackerlabs/recap/blob/1.0.0/src/recap#L595-L599).  Changing `/var/log/recap/{snapshot

[2017-06-19 13:51] tonyskapunk commented on #98
I'm OK with the change on 755 to the directories inside `/var/log/recap` the PR already includes those, thus is less effort to go with those changes than change them back, going to squash the commits into a single one and we can go with those changes then.

[2017-06-23 15:16] tonyskapunk commented on #98
Closing #99 has been merged.

[2017-06-23 15:16] #98 closed

[2017-06-27 16:33] tonyskapunk commented on #94
Just a quick update in here(due my lack of updates), I'm working on this, taking me good amount of time due to all the documentation and moving pieces of every single setting across the code, config and documentation(man pages)

[2017-07-07 17:26] tonyskapunk commented on #94
Ton of changes, on PR #100

A resume of the changes is:

- EMAIL_ON_ERROR, EMAIL_ON_ERROR_SUBJECT, EMAIL_ON_ERROR_RECIPIENTS - removed(not used)
- MAXLOAD - 10*cpu(dynamic by default, was 1000)
- LOG_EXPIRY - default 15(by default was 0, but set to 15 in the recap conf)
- ROTATE, ROTATELOGS - removed(not used)
- USEDF - default is now enabled(by default was disabled, but enabled in the recap conf)

[2017-07-07 19:04] troyengel opened #102 "Convert [ ] to [[ ]]"
While reviewing PR #100 I noticed in about 3 places there are old style test operators [ ] use which need to get upgraded to builtin [[ ]] for modern bash4 best practices. Very low priority, since we're using parameter expansion in variables we require bash4 already.

[2017-07-07 19:06] troyengel commented on #94
I have not had a chance to run it yet, but reading the changes 👍 it all looks great. I noticed that in the src/recap we set defaults with quotes (FOO="no") but in recap.conf we do not use quotes (FOO=no). OCD comment. :-)

[2017-07-07 20:52] tonyskapunk commented on #102
Yes, this is lingering from previous iterations, has to be addressed.

[2017-07-07 21:03] tonyskapunk opened #103 "Wrong exit code"
Whenever running recap is exiting with 2, this is due to the way the lock is being cleared up:
https://github.com/rackerlabs/recap/blob/development/src/recap#L104

[code]

[2017-07-07 21:08] tonyskapunk commented on #80
There are references to load configs from multiple locations, quite likely that needs to be removed as well:

- recap - https://github.com/rackerlabs/recap/blob/development/src/recap#L576-L589
- recaplog - https://github.com/rackerlabs/recap/blob/development/src/recaplog#L272-L287

[2017-07-21 15:22] tonyskapunk commented on #94
Ah!, forgot to note in here that I've included the observations from @troyengel in the PR already.

[2017-07-21 15:25] tonyskapunk commented on #94
PR #100 has been merged into `development`, this can be closed now, current self-imposed target is to release this early Aug into `master`.

[2017-07-21 15:25] #94 closed

[2017-08-04 14:11] tonyskapunk commented on #103
fixed now in `development`

[2017-08-04 14:11] #103 closed

[2017-08-04 14:11] tonyskapunk commented on #102
fixed now in `development`

[2017-08-04 14:11] #102 closed

[2017-08-04 14:31] tonyskapunk opened #107 "Make use of newer tools for networking stats"
Most of the network stats depend on old `net-tools`, while this provides compatibility it would be desired to use more modern alternatives.

[2017-08-14 09:45] Vascom commented on #107
I agree. net-tools is deprecated an should be replaced by iproute for example.

[2017-08-14 14:05] tonyskapunk commented on #107
Hi @Vascom thanks for the interest, this is in the plan, hopefully can be implemented shortly after the release of [1.1.0](https://github.com/rackerlabs/recap/milestone/2)

[2017-08-18 15:54] tonyskapunk opened #111 "Standardize options across scripts"
The way the options/arguments are handled in the scripts(recap, recaptool and recaplog) are different, needs to be standardize, ideally making use of `getopt` instead of manually parsing args or using `getopts`.

[2017-08-18 15:59] tonyskapunk opened #112 "Standardize help/usage"
Ensure all the scripts use the same way to produce the help/usage via CLI, I'm bias in this aspect as I prefer the use of embedded help in the comments as in `recaplog`: [here](https://github.com/rackerlabs/recap/blob/master/src/recaplog#L39-L45) and [here](https://github.com/rackerlabs/recap/blob/master/src/recaplog#L257-L259)

[2017-08-18 16:22] tonyskapunk opened #113 "RPM spec for 1.1.0"
RPM spec file needs to be updated for 1.1.0

[2017-08-22 21:54] carlwgeorge commented on #113
Now that recap has been accepted into Fedora and EPEL, I was actually going to suggest we remove the spec file from this repo.  I don't see the point in maintaining it here and in https://src.fedoraproject.org/rpms/recap.  If we do want to keep it in this repo, I suggest we reduce it down to an example spec file with no changelog or version to reduce maintenance.

[2017-08-23 16:04] tonyskapunk commented on #113
I like the idea of avoiding duplicated effort, also it gives you more flexibility with changes in the spec file, since the repo is public, I rather mention the [spec file source](https://src.fedoraproject.org/rpms/recap/blob/master/f/recap.spec) in the README and not to worry about having a file that could be outdated, the same should apply for the debian piece once that's publicly available.

The

[2017-08-25 14:23] tonyskapunk opened #115 "Fix inconsistency between BACKUP_ITEMS and USE_"
Back in issue #94 when working on the documentation and configuration of the settings, it was clear that there is a inconsistency between the list of `BACKUP_ITEMS` and the `USE_` variables (https://github.com/rackerlabs/recap/issues/94#issuecomment-306840909), it's required to be more consistent on those settings, likely to deprecate the use of `BACKUP_ITEMS` or create it in a dynamic way based o

[2017-09-15 15:23] tonyskapunk opened #117 "Remove unused files"
This file is not used any longer:
  - `src/recap.httpd.conf`

[2017-09-15 17:31] tonyskapunk opened #120 "recaptool needs some bash-style rework"
Few examples
- change `` ` `` to `$()`
- Add `{}` to vars

[2017-09-22 13:56] #112 closed

[2017-09-22 13:57] #117 closed

[2017-09-26 15:05] tonyskapunk commented on #107
This was brought to my attention(thanks @carlwgeorge )  this needs to be tackled quickly https://bugzilla.redhat.com/show_bug.cgi?id=1496151

[2017-10-06 10:41] LukeHandle opened #123 "Increase default MAXLOAD"
Hey there,

I see in #100 we made changes to the default MAXLOAD variable:

This had previously been set over in 4c03a4c8b7f9bd6674a47f85d90c07e973e83edc with the logic that we'd rather have logging in the event of an issue and further crash than massive empty gaps where we are left guessing what might have been going on.

While it is agreeable that `recap` and the tools it triggers will contribut

[2017-10-06 11:24] man-chung commented on #123
I think the Dynamic MAXLOAD value will be too low. Single proc quad core will be 40, 80 with HT. Even a hex core with HT will only be 120. I was in a server the other day with 160, and it was still perfectly workable on the SSH commandline.

Recap is run via cron, a load average spike might put the load average above threshold between recap's interval - resulting in no useful logs.

I'd take the t

[2017-10-06 14:08] tonyskapunk commented on #123
Hey @LukeHandle thanks for opening this issue.

The main reason of the change was to try to get a dynamic limit and attempting to be closer to real-scenarios as the old one was generic and too high.

@man-chung thanks for pointing out the load of 160, that's a good example.  The suggestion you provide is also quite valuable, I'm pretty sure we can accommodate something like that.

[2017-10-09 13:52] troyengel commented on #107
👍

[2017-10-12 15:15] LukeHandle opened #125 "Apache Fullstatus broken via Curl"
Hi there,

It appears that changes were made to remove `elinks` requirements from spec/rpm:
https://src.fedoraproject.org/rpms/recap/blob/master/f/recap.spec (as not everyone needs Apache fullstatus, I understand the thought process)

And thus, the project switched to use a `curl` instead of `apachectl fullstatus` (`e/links`). This is not adequate for reporting Apache server-status though:

[code]

[2017-10-13 15:06] tonyskapunk commented on #125
Hi @LukeHandle thanks for opening the issue and providing the details.

You're right the formatting is not the best, I'm looking into it. Sounds like the easiest solution would be implementing`links --dump`, I'm going to do some testing and provide different outputs to see what's best.

The default value for [OPTS_STATUSURL]( https://github.com/rackerlabs/recap/blob/master/src/recap#L101) is gener

[2017-10-13 15:15] tonyskapunk commented on #120
closing as #124 has been merged.

[2017-10-13 15:15] #120 closed

[2017-10-13 15:36] tonyskapunk opened #126 "Wiki needs to be updated"
[Wiki](https://github.com/rackerlabs/recap/wiki/All-about-recap-and-historical-information) needs to be updated to reflect last additions/changes in the last year.

[2017-10-13 17:39] tonyskapunk commented on #125
It took me a while but I created a gist with the outputs using `apache httpd`, `nginx`, and `lighttpd` with the current `curl` output(unformatted) and using `links -dump`(formatted) which looks a lot better.

https://gist.github.com/tonyskapunk/7fa78554a617fcda6f7ea2810203f939

If no objections are made then the next step is to write the code to switch to use `links`, that change is not a big deal

[2017-10-14 14:04] LukeHandle commented on #125
Hey @tonyskapunk, thanks for your time on this, much appreciated!

Looks better, shame about `nginx`, but it's still readable 🤷‍♂️

With regards to the default URL, having this set to `http://localhost/server-status` is at least a saner default. No-one would set the stats to be at `/`. This would also  stop people enabling the "USEFULLSTATUS" option and expecting the previous behaviour.

At the ve

[2017-10-16 09:33] man-chung commented on #125
+1 to the comment hint drop, at least. But its better to put the full `http://localhost/server-status` since that would be what any familiar with full status would expect.

[2017-10-16 13:16] tonyskapunk commented on #125
After the test performed I noticed lighttpd uses `server-status` as well, and while `nginx` uses `nginx_status` in the examples it can be anything, so I concur, the option default `http://localhost:80/server-status` is better

[2017-10-20 15:05] tonyskapunk commented on #125
@LukeHandle , @man-chung would you mind looking t the PR #127 I implemented the changes in there, let me know how it looks like and if there is any feedback related to it.

Thanks!

[2017-10-20 15:09] tonyskapunk opened #128 "Add log to recap"
It would be nice to have recap to produce a log, this would be helpful to report possible conflicts with configs, deprecated options, missing tools, permissions issues, etc.

[2017-10-20 15:26] tonyskapunk commented on #123
Thinking about the ratio I dug into the amount of siblings detected in the most modern CPUs and can get really high, for example a CPU with 28 cores, 56 cores and HT[0]. Could be above the 3000!

Based on the feedback here provided I'm thinking that an alternative is to always attempt to run recap.
 - The purpose of __recap__ is to obtain a snapshot of the resources at the running time and if the

[2017-10-20 15:32] tonyskapunk opened #129 "Add support to systemd timers"
References to timers:
- http://0pointer.de/public/systemd-man/systemd.timer.html
- https://www.freedesktop.org/software/systemd/man/systemd.timer.html

Examples:
- https://wiki.archlinux.org/index.php/Systemd/Timers#Examples

[2017-10-20 15:54] man-chung commented on #123
Unless you want to go back to simply looking at purely the number of cores.

In my mind, the simplistic way is to run recap until the entire box goes down. That would be preferable to no data at all. In the end, the result is the same. I really don't think recap will bring a box down if it wasn't already headed that way anyway.

So I am onboard if you either:

- Added execution timeout logic, or

[2017-10-20 16:23] tonyskapunk commented on #123
`recap` already avoids new processes of running of  via [lock-file control](https://github.com/rackerlabs/recap/blob/master/src/recap#L110-L120). :D

Hypothetically the timeout would only ensure a run would end.

[2017-10-22 13:20] LukeHandle commented on #125
Hey there @tonyskapunk, the README will also need to be updated to include reference to the new dependency of `elinks` (included in base).

Of course, the spec file will need adjusting etc. before build.

[2017-10-23 18:26] tonyskapunk commented on #125
@LukeHandle thanks for checking, I added the dependency of `links` in the README for those who install not from a package.  I'll make sure I communicate this to @carlwgeorge about the new dependency around `links` due to the formatting.

[2017-10-25 15:22] LukeHandle commented on #123
So either:
 * Adding the execution timeout and removing the load check
 * Setting the default load check to be `9999`

- or did I misunderstand? The latter is more in-line with what we've previously done - can we see particularly benefit of the former?

[2017-10-25 17:05] tonyskapunk commented on #123
@LukeHandle right, but mostly looking into the first option, based on the purposes included below. Adding `timeout` and removing the load check is a way to implement this.
If we set it to 9999 the purpose of it is pretty much the same as not evaluating it in the first place.

As mentioned before, I think the idea behind the implementation we currently have in place has to deal with these two purpo

[2017-10-25 17:13] man-chung commented on #123
I vote for remove load check and implement timeout, because:

- Remove load check - It was probably going to crash anyway
- Add Timeout - If the load was that high, then it would probably never have complete anyway.

[2017-10-25 18:19] LukeHandle commented on #123
Is this preferred over waiting for the existing to exit? Do we think if I got stuck it will not be stuck the next time around we run? Either way we won't be launching another attempt as the lock exists.

What advantage is there from also adding the timeout?

[2017-10-25 19:21] tonyskapunk commented on #123
The main advantage I see with the use of `timeout` is to be a safety net in case `recap` is stuck indefinitely.

Is a bit difficult to thing about a formal example but let's say `recap` gets stuck with the `fdisk` report, that implies that some of the previous reports produced logs.  If we `timeout` it, next run it will produce the other reports and potentially get stuck again on the `fdisk` one.

[2017-10-27 14:03] tonyskapunk commented on #123
Please take some time to review #130 with the proposed implementation of what was discussed in here.

[2017-10-31 13:31] tonyskapunk commented on #123
fixed in #130

[2017-10-31 13:31] #123 closed

[2017-10-31 13:32] tonyskapunk commented on #125
Fixed in #127

[2017-10-31 13:32] #125 closed

[2017-11-02 01:21] tonyskapunk commented on #107
Closing as change has been merged into `development` getting it ready for [1.2.0](https://github.com/rackerlabs/recap/milestone/3)

[2017-11-02 01:21] #107 closed

[2017-11-06 14:35] khalidamen opened #136 "Add support for multiple mysql instances running of different ports."
Please add support to monitor multiple mysql instances running on different ports.

[2017-11-06 15:30] tonyskapunk commented on #136
Hi @khalidamen thanks for the request, some time ago it was added but dropped out due to some concerns about the validation required and not having people using it, but glad to read there's people out there that will use it.

I'm happy to evaluate the implementation and give it a try.

References for this:
- https://github.com/rackerlabs/recap/issues/81#issuecomment-287376750
- https://github.com/

[2017-11-10 17:07] tonyskapunk commented on #80
Alright, I've created #137 that should now give hints that the new location should be `/etc/recap.conf` to avoid the sudden change I'm still taking precedence to the old config in case is found: `/etc/recap` but on the next release that will be dropped.

[2017-11-17 14:14] tonyskapunk commented on #129
Closing this one

[2017-11-17 14:14] #129 closed

[2017-11-22 14:41] tonyskapunk opened #140 "Duplicate process when traping signals"
While working on #139 I found the trap was performing two `cleanup` calls instead of one, this was fixed in `recap` but was not fixed in `recaplog`.

The fixed lines: https://github.com/rackerlabs/recap/pull/139/commits/d51a324cb4a48c18dcc68836aac492489ef3d55d#diff-cf77cb5672a68c31afd4bc3025d4288cL153

The offending line in `recaplog`: https://github.com/rackerlabs/recap/blob/master/src/recaplog#L

[2017-11-29 21:59] tonyskapunk commented on #128
Closing as has been recap log has been added in #139

[2017-11-29 21:59] #128 closed

[2017-12-05 15:43] tonyskapunk commented on #140
This has been fixed in #141

[2017-12-05 15:43] #140 closed

[2017-12-05 15:45] tonyskapunk commented on #80
The first stage has been fixed - https://github.com/rackerlabs/recap/pull/137#issuecomment-344661204

It is expected that `/etc/recap` references will be completely out of `recap` by `1.5.0`

Changing milestone to `1.4.0` for the 2nd stage.

[2017-12-24 04:55] tonyskapunk opened #147 "Add demo of recap in README"
Might be quite useful to have a demo on how recap can be used using:
- https://asciinema.org/docs/embedding

[2018-01-21 11:22] seanorama opened #148 "Build RPM for SLES?"
Since RPMs is being built for RHEL/CENTOS, any chance they could be built for SLES as well?

[2018-01-22 14:26] tonyskapunk commented on #148
Hi @seanorama,

This is a great question, I'm not familiarized with the ways SLES distributes packages, pretty sure the [spec file](https://src.fedoraproject.org/rpms/recap/blob/master/f/recap.spec) can be leveraged to get the package quite easily for SLES.

Let me ask around and see if there is any chance to get this package over there.

Thanks!

[2018-01-22 14:34] carlwgeorge commented on #148
I'm the Fedora/EPEL package maintainer for recap.  Everything related to that happens on Fedora infrastructure and isn't tied the to upstream development here on GitHub.  Getting a package into OpenSUSE/SLES is an entirely different ecosystem that I have almost zero knowledge of.  The one thing I do know is that while they use the RPM format, they have different macros defined, so most Fedora spec

[2018-02-05 14:57] tonyskapunk opened #149 "remove 19)SIGSTOP from trap"
Sources:
https://github.com/rackerlabs/recap/blob/master/src/recap#L182
https://github.com/rackerlabs/recap/blob/master/src/recaplog#L220

[2018-04-13 17:00] tonyskapunk commented on #80
#151 is a PR to be included in **1.4.0** This is continuation of the solution of this issue.

From: https://github.com/rackerlabs/recap/pull/137#issuecomment-344661204

Package-wise(RPM) it will not be any major change as described in https://github.com/rackerlabs/recap/pull/137#issuecomment-349130798

[2018-04-24 08:33] whogoesoverthere opened #152 "redhat 6.9 df unrecognized option"
Hello there,

I have rhel6.9 running  recap-1.3.0-1.el6.noarch and  when I have enabled the MIN_FREE_SPACE check
I am getting:

df: unrecognized option '--output=avail'

Seems to be coming from:

    FREE_SPACE=$( df -BM --output=avail "${BASEDIR}" | tail -1 )

Thank you

[2018-04-24 12:16] man-chung commented on #152
The "--output" feature was introduced in 2012, as per the [change logs](https://github.com/adtools/coreutils/blob/f94b6dd850452b3260397caee6f983ef59f25df1/ChangeLog#L11991)

`
2012-11-08  Bernhard Voelker  <mail@bernhard-voelker.de>

	df: add --output to select which fields to display
`

According to [Red Hat](https://access.redhat.com/articles/3078) RHEL 6 was  released on on 10 November 2010

So

[2018-04-24 17:25] tonyskapunk commented on #152
@whogoesoverthere thanks for opening this issue, as @man-chung pointed it out the problem is with that change introduced with an argument that is not supported on el6 (el7, deb8+, u14+ support this).

I'll fix that out since el6 won't be EOL until 2020.

[2018-04-24 17:27] man-chung commented on #152
Based on the coreutils change logs, it looks like the next release AFTER the --output feature was introduced was v8.21 on 2013-02-14

So if we want to continue using --output, we can test for the df version

`df --version | head -1 | awk '{print $NF}'`

But thats more code to maintain than just doing the old fashion awk or sed method for all OSes...

[2018-04-24 17:37] #149 closed

[2018-04-24 18:28] tonyskapunk commented on #152
Indeed, until we stop supporting el6 we will have to use one solution for all, I've done so on PR #153 which should take care of it, I tested on most of the distros recap has been tested so far.

Thanks!

[2018-05-04 15:15] tonyskapunk commented on #152
Closing this one, it will be merged into master on the next release.

[2018-05-04 15:15] #152 closed

[2018-05-04 19:28] tonyskapunk commented on #136
#154 implements this feature Here an example

Test env
- Two instances of mysql running
[code]

Config
- The first two files exist and can be used on each instance of mysql
- The third file does not exist.
[code]

recap.log
[code]

The mysql report:
[code]

[2018-05-04 19:29] tonyskapunk commented on #136
Sorry click the wrong button.

@khalidamen could you please test this one?

[2018-05-10 18:27] LukeHandle opened #155 "Reporting other/custom/redis information"
Is there interest in adding in other reporting aspects - or ability for a custom reporting?

I'm particularly interested in Redis stats (eg. `redis-cli info` or just via `nc`), but the rotation and file organization that `recap` uses is great.

Maybe a custom report option allowing command "X" to run as part of the report to file name "Y"? Is this of interest, or entirely out of scope 😄

[2018-05-10 19:15] tonyskapunk commented on #155
Hi @LukeHandle , at the moment there is no support for custom reports, plugins, third party scripts, etc.  Mainly because there hasn't been any request about that.

The current structure of `recap` couldn't easily plug in a new reporting, but the efforts put on version `1.0.0` attempted to separate its functionality towards a more "modular" way. Although it was not completely possible back then. T

[2018-05-11 17:17] tonyskapunk opened #156 "recap recreates log dir(BASEDIR) with loose permissions"
The `Makefile` creates the directory with the correct permissions: `0750`

https://github.com/rackerlabs/recap/blob/master/Makefile#L77

But if the log dir(`BASEDIR`) is not in place whenever `recap` runs it will create the directory to place the logs in there, the problem is the permissions in there rely on umask,(default in most linux distros: `0022`):

`BASEDIR` default: https://github.com/rack

[2018-05-11 17:58] tonyskapunk commented on #155
Seems like this will be possible, I've started migrating some of the core functions outside the `recap` script, this way it will be more modular and we can import other functions to produce logs as well.  Right now the first step is to create a clear separation of the code, you can take a look to the code in this branch: [tonyskapunk/recap:issue155](https://github.com/tonyskapunk/recap/tree/issue1

[2018-05-11 19:05] LukeHandle commented on #155
I've been having a mess around with some useful Redis commands (not sure if that function should be added to the core, or separate of the code in this project).

- also, not sure on opinions running these with the `timeout` command - it seems dirty, but the `redis-cli` does not seem to offer a nice method to stop after x seconds.

run `redis-cli info` once
run `timeout 5 redis-cli --stat 0.5` once

[2018-05-11 19:13] tonyskapunk commented on #155
The use of `timeout` will be key in all the modules/plugins added, (`recap` is capped to 5m when running through cron).

Since is not yet concrete how the non-core modules/plugins will be loaded (I'm thinking redis will be the first one), lets wait on the coding for now.  But definitely love to have contributors for this project :)

Thanks!

[2018-05-18 14:01] tonyskapunk commented on #136
@khalidamen Any chance on testing this?

[2018-05-18 14:12] tonyskapunk commented on #115
I'm thinking in deprecating `BACKUP_ITEMS`.  `recap` and `recaplog` are the two scripts that make use of it.

- `recap` - Uses this setting for the `backup`functionality, that is, copy the last set of logs from `BASEDIR` into `BASEDIR/backup`. This can be generated dynamically regardless of the settings in `/etc/recap.conf`

- `recaplog` - Uses this setting for compressing/moving logs daily. This

[2018-05-18 17:36] tonyskapunk commented on #115
I have implemented the deprecation of `BACKUP_ITEMS` in branch [tonyskapunk/issue155](https://github.com/tonyskapunk/recap/tree/issue155)

Being able to **dynamically** *backup/archive/compress/email* is needed in order to add more reports through plugins/modules.  That's the reason why it was implemented in there.

Documenting in here the tests performed:

## Testing Backup:
[code]

See it backed

[2018-05-18 17:38] tonyskapunk commented on #155
Made some progress by fixing #115 it is important to avoid that dependency so the new reports can be dynamically archived/backed up/emailed/etc, I made some testing and documented in that issue: https://github.com/rackerlabs/recap/issues/115#issuecomment-390279129

[2018-05-18 17:41] tonyskapunk commented on #156
Closing as is now fixed in `development`

[2018-05-18 17:41] #156 closed

[2018-05-29 15:23] tonyskapunk commented on #155
Sorry I forgot to update last week that I made good progress in here, [tonyskapunk/recap:issue155](https://github.com/tonyskapunk/recap/tree/issue155) has a new commit, in here the functionality to run plugins has been added, I also included an example plugin. The README has been updated and includes the requirements to write a new plugin.

I tested the plugin and the creation of logs should work,

[2018-06-01 17:15] tonyskapunk commented on #155
TL;DR

Had to make a small change to fix report names detection, after that the tests came successfully, I created PR #158 to get this one rolling.

@LukeHandle could you please do some testing on your end making sure this is working as expected?

The README should include the information needed around Plugins, specifically [here](https://github.com/tonyskapunk/recap/tree/issue155#plugins)
---
Tes

[2018-06-05 09:46] LukeHandle commented on #155
Hey @tonyskapunk, currently looking at this. I've written a basic Redis plugin for testing though will likely raise a PR for discussion on methods being used. Some of the `redis-cli` commands rewrite their output though which might make things messy...

[2018-06-05 09:54] LukeHandle opened #159 "Activate systemd timers via make"
When installing via make (eg. on Ubuntu systems), the cron is automatically enabled when `systemd` is not present - yet, the timer is _not_ activated when it is.

I understand there is a notice about such when installing, but the behaviour is not consistent or expected for people familiar with how `recap` normally works via package (or when not using `systemd`).

I would propose that as part of th

[2018-06-06 20:38] carlwgeorge commented on #159
In Fedora, default enabled timers fall under the same policy as default enabled services.

https://fedoraproject.org/wiki/Packaging:DefaultServices

I'm not 100% sure if recap meets those requirements or not, but I don't see enough benefit to argue in favor of it.  Cron jobs were enabled by default, systemd timers are not, that's kinda just how it is.

[2018-06-07 10:44] LukeHandle commented on #159
By that Wiki page (and my understanding), we would be allowed to as a local and non-persistent service? I guess a spec file update is another thing down the line and obviously has its own implications for a wider audience switching from cron to timers and ensuring adequate communication.

In this case with the `make install`, I don't mind if we don't enable them, but if not, I suggest we are more

[2018-06-07 21:38] LukeHandle commented on #155
I've opened https://github.com/tonyskapunk/recap/pull/2 over on your actual account as it doesn't make sense to PR against here until https://github.com/rackerlabs/recap/pull/158 is merged?

I can rebase against master instead if preferred as well?

===

Please let me know any changes you would like me to make etc. I have tried to follow standard you have used elsewhere, but may have slipped etc.

[2018-06-08 13:46] tonyskapunk commented on #159
Thanks @LukeHandle and @carlwgeorge for the comments in here.

I created PR #160 to solve this, it will simply print the commands required to (en|dis)able timers, letting to the packagers of each distro to follow their best practices.

---

This is an example of how it will look like:

Installing:
[code]

Uninstalling:
[code]

[2018-06-08 17:49] tonyskapunk commented on #155
We keep moving on this one, I tested the PR  tonyskapunk#2 and left some messages in there, I think is good approach try to include that plugin in the PR for this issue and that's the best way I can think of.

I will remove one of the plugins in there `kernel_cmd` it meant to be an example, maybe I'll create another directory with an example documented and use that for it.

- [ ] Still need some p

[2018-06-15 20:18] THE-Alan-Hicks opened #161 "New kernel updates in RHEL/CentOS 7.5 break iotop output in recap"
Kernel updates in RHEL 7.5 have introduced a regression into recap. Red Hat is aware of the issue and is tracking it online here:

  https://access.redhat.com/solutions/3467211

This isn't an issue with recap persay, but rather one with iotop. Still, it would be nice for recap to check for error conditions when running external tools to gather information and handling any errors it detects gracefu

[2018-06-18 02:16] tonyskapunk commented on #161
Thanks for opening this one @THE-Alan-Hicks we definitely could do better with those cases to avoid other reports to get stuck because things like this.

[2018-06-18 19:19] tonyskapunk commented on #159
Closing this out as #160 was merged into `development`

[2018-06-18 19:19] #159 closed

[2018-06-22 14:41] tonyskapunk commented on #155
Sorry this is taking longer but since there are so many changes I want to ensure others review them.

Since there are quite good amount of changes in `development` I'm going to release a new, and potentially the last, version of recap from the 1.x series.  I'm thinking in including #154 and then rebase #158 to then release 2.x with it.  With that being said it is expected that it will take longer

[2018-06-22 17:04] tonyskapunk commented on #136
I added another commit, I included timeouts in mysql commands and validate connectivity prior running any mysql report.

Here the steps to create a testing env:

[code]

[2018-06-22 18:00] tonyskapunk commented on #161
Quickest change just to avoid the problem seeing with `iotop` @THE-Alan-Hicks could you please confirm this works?  I tested locally and seems to be working.

[2018-06-22 21:11] tonyskapunk commented on #161
Merged into `development` I expect to release 1.4.0 pretty soon.

[2018-06-22 21:11] #161 closed

[2018-07-11 20:58] tonyskapunk commented on #136
The code that implements this feature has been merged (#154 ) in `development` closing this one.

[2018-07-11 20:58] #136 closed

[2018-10-18 21:12] tonyskapunk commented on #111
@jamrok I created a label for you, thanks!

[2018-10-19 19:12] tonyskapunk commented on #155
The PR was up for quite a long time and I don't want to hold this more.  I'm happy with the testing so far, the introduction of CI (through travis-ci) should help this project to do some automated validations so the person validating does not have to do everything on her own.

I'm closing this since is now in development.

Thanks so much for your help @LukeHandle !!

[2018-10-19 19:12] #155 closed

[2018-10-19 19:13] tonyskapunk commented on #115
Closing this one since it has been merged into `development`, yay!

[2018-10-19 19:13] #115 closed

[2018-10-27 07:10] chris-mendoza opened #169 "Links package requirement - AWS Linux"
In AWS Linux, Links is a very hard package to get installed. You quickly hit some dependency mayhem that just takes too long to resolve, when this feature is normally disabled by default. My solution would be to remove this feature from the source, and release a version that can be installed through the epel repository.

Here is what worked for me:

wget https://github.com/rackerlabs/recap/archive

[2018-10-29 21:21] tonyskapunk commented on #169
Hi @chris-mendoza thanks for taking time in reporting this.

I'm particularly not familiarized with Amazon Linux, but I spun up an instance of [Amazon Linux 2](https://us-east-2.console.aws.amazon.com/ec2/v2/home?region=us-east-2#Images:visibility=public-images;imageId=ami-0303c7b2e7066b60d;sort=name ) (*authentication required*)

[code]
I followed the instructions to enable EPEL from their docs:

[2018-11-03 04:59] chris-mendoza commented on #169
Hey all,

The issues I ran into was exclusively on Amazon Linux 1, so maybe we just need to upgrade their servers. I was still able to recap installed, but just wanted to see if perhaps a part of the wiki could be dedicated to how to install with the steps I provided. Despite the metrics we have in CloudWatch monitoring, I feel Recap is still a really great tool to use for our customers, since it

[2018-11-06 23:04] terackspace opened #170 "Replace 'links' with 'elinks'"
While adding recap to a cloud server today (default Linode.com CentOS 7 image), the dependency chain of `links` drags in a ton of stuff we do not need, a lot of X graphical things.  Conversely, the `elinks` version (which I converted to years ago on my workstations) only has 2 minimal packages as deps. The `elinks` binary supports `-dump` as well, so should be a painless transition.

Supporting ou

[2018-11-06 23:08] terackspace commented on #169
I just opened enhancement issue #170 to replace `links` with `elinks`, it may solve this problem without a major overhaul of code.

[2018-11-07 03:14] tonyskapunk commented on #170
Yeah, is a huge difference on packages, and while there are differences in the output is minimal:

https://gist.github.com/tonyskapunk/0dd66cace2e1ca09cc2d02be5d30ffc3

I honestly would like to move the status check outside of the main resources report and have it as an optional one, besides it is by default not enabled.  Then letting people install those dependencies as needed.

[2018-11-07 15:14] terackspace commented on #170
Documenting here - Tony and I talked offline, this is a perfect fit for the 2.0 reorganization - (e)links becomes a plugin, this dependency then is tied to the plugin's subpackage install (e.g. `recap-webserver` or whatever) that installs the config, the code, and pulls in any needed deps like `elinks`.

[2018-11-07 16:34] tonyskapunk commented on #170
That is correct, just a clarification point, the intent is to separate the [http_full_status]( https://github.com/rackerlabs/recap/blob/development/src/core/resources#L86-L93) from [core](https://github.com/rackerlabs/recap/tree/development/src/core) to move it as a [plugins](https://github.com/rackerlabs/recap/tree/development/src/plugins). That enables separation and could help to separate packa

[2018-11-09 16:02] tonyskapunk commented on #170
@terackspace if you have some free cycles could you take a look to #171 feedback is appreciated.

[2018-11-09 16:16] tonyskapunk commented on #169
Based on #171 and this issue I came up with a change that should help satisfy both.

Feedback on #171 is appreciated.

---

@chris-mendoza The change above works on Amazon Linux 1, here the way I tested it:

- I spun up an instance of Amazon Linux 1 (amzn-ami-hvm-2018.03.0.20180811-x86_64-gp2 (ami-0b59bfac6be064b78))
- Install git and clone *my* repo:
[code]
- Install `recap` the dependencies:
[co

[2018-11-09 16:19] tonyskapunk commented on #148
Leaving in here some links that might help with this, sorry there has not be any movement in that long :disappointed:
- https://en.opensuse.org/Portal:How_to_participate
- https://en.opensuse.org/openSUSE:Members#Contributions
- https://en.opensuse.org/openSUSE:Build_Service
- https://en.opensuse.org/openSUSE:Build_Service_Tutorial

[2018-11-19 14:44] tonyskapunk opened #174 "Version inconcistency"
It was called to my attention that the version of `recaplog`, `recaptool` are still on version `1.3.0`. This is an inconsistency as they should be all on the same version as `recap` `1.4.0` The issue is in `master`.

[2018-11-19 14:53] tonyskapunk opened #175 "recap man page section 5 should be for recap.conf"
All the information included in [recap.5](https://github.com/rackerlabs/recap/blob/master/src/recap.5) is really information about `recap.conf` hence the man page should be for `recap.conf` instead.

[2018-11-19 21:04] tonyskapunk opened #177 "Validate tools (scripts, binaries, etc) before use."
While working on PR #173 we realize that some tools are assumed to be in place and are not being validated, this is mainly with the plugins, this PR #176 workarounds that to ensure the testing created on the same PR #173.

There is two common kinds of errors that we could face and need better handling:
1. Validate the binary/script being used to generate a log report is available
2. Better handle

[2018-11-23 16:17] tonyskapunk opened #178 "Tests separation"
For testing purposes it would be good to separate them in:
- Test core reports
- Test plugin reports
  - When there is no service enabled, e.g. http, redis, docker, etc.
  - When the service is enabled (as expected)

Plugins:
- [ ] [redis](https://github.com/rackerlabs/recap/blob/development/src/plugins/redis)
- [ ] [docker_top](https://github.com/rackerlabs/recap/blob/development/src/plugins/dock

[2018-11-29 03:38] tonyskapunk commented on #178
Started with some ideas on how to perform the testing per plugin with a mock-up here: https://github.com/tonyskapunk/recap/commit/5ee9235ecfe54fc4ccd4cc1db0c94fb983a41b20

[2018-12-26 15:55] tonyskapunk opened #181 "Test other scripts as well."
Scripts to test:
- [ ] `recap`
- [ ] `recaplog`
- [ ] `recaptool`

[2018-12-26 17:49] tonyskapunk opened #183 "Error when enabling plugins but none is available."
There is a bug in the code that loads the code of the plugins, when ` USEPLUGINS="yes"` is enabled, the [globbing expansion](https://github.com/rackerlabs/recap/blob/development/src/recap#L255) is not working as expected when there is no content in the `plugins-enabled` directory.

[code]

[2019-01-04 21:08] tonyskapunk commented on #183
Fixed in #184

[2019-01-04 21:08] #183 closed

[2019-01-08 18:11] tonyskapunk commented on #80
Closing this issue, releasing in 2.0.0, Fix on #182

[2019-01-08 18:11] #80 closed

[2019-01-08 18:13] tonyskapunk commented on #111
Closing this issue, releasing in 2.0.0, Fix on #180

[2019-01-08 18:13] #111 closed

[2019-01-08 18:13] tonyskapunk commented on #169
Closing this issue, releasing in 2.0.0, Fix on #171

[2019-01-08 18:13] #169 closed

[2019-01-08 18:14] tonyskapunk commented on #170
Closing this issue, releasing in 2.0.0, Fix on #171

[2019-01-08 18:14] #170 closed

[2019-01-08 18:16] tonyskapunk commented on #175
Closing this issue, releasing in 2.0.0, Fix on #180

[2019-01-08 18:16] #175 closed

[2019-01-09 15:40] tonyskapunk commented on #174
fixed in #185

[2019-01-09 15:40] #174 closed

[2019-01-22 16:33] tonodor opened #189 "Reporting kernel locks"
Would it be possible to add an option to log the content of /proc/locks to the resources section?
It would be particularly useful for investigating issues caused by PHP session locking.

[2019-01-22 16:49] tonyskapunk commented on #189
Hi @tonodor thanks for your interest and the time to report this issue.

Is definitely possible, now with [plugins](https://github.com/rackerlabs/recap/tree/development#plugins), this should be a lot easier.

Today version *2.0.0* is being released so it won't be able to make it there if this is added, but can be added in following releases.

Seems like `lslocks` provides extra useful information

[2019-01-22 20:47] tonyskapunk opened #191 "Need bash 5.0 support."
Build on bash 5 is currently failing: https://travis-ci.org/rackerlabs/recap/jobs/483067424 reflected only in `master`,

`dev` branch passed fine because it was running bash version 4 (https://travis-ci.org/rackerlabs/recap/jobs/477402022#L1057)  but since bash 5.0 was released lately (https://lists.gnu.org/archive/html/bash-announce/2019-01/msg00000.html), buster picked it up recently (https://pa

[2019-01-24 17:00] tonyskapunk commented on #191
The problem found was due to signal 17 as documented in #192

[2019-01-24 17:00] #191 closed

[2019-01-25 22:14] tonyskapunk opened #195 "DESTDIR embedded in recap LIBDIR"
When attempting to build a RPM for recap it is detected that the `DESTDIR`(`BUILDROOT` in rpm context) is embedded in the `recap` script:

[code]

[2019-02-01 17:02] tonyskapunk commented on #195
Fixed in #196 will be included in a new release of recap

[2019-02-01 17:02] #195 closed

[2019-02-01 17:03] tonyskapunk opened #197 "Move mysql out of core into plugins"
Mysql is another report that can be moved to plugins.

[2019-02-03 05:33] tonyskapunk opened #198 "DESTDIR causing issues with packages"
#195 was reported after issues with packaging RPM. #196 fixes the issue and while the patch is working and is in the process of being released (https://src.fedoraproject.org/rpms/recap/pull-request/6) it was reported that DEB package is also having the same issue.  The #196 fix also works for DEB but it would be nicer to release recap with the patch included to benefit both packages.

[2019-02-15 15:10] tonyskapunk commented on #198
This was released in 2.0.1

[2019-02-15 15:10] #198 closed

[2019-02-15 19:04] tonyskapunk commented on #189
@tonodor I've created a plugin for the system locks, please take a look to the PR #202 and let me know if there is any feedback on this.

An example of how it would look like when enabling this plugin:

*recap.log*
[code]

A log with `lslocks` available:

*/var/log/recap/system_locks_20190215-125005.log*
[code]

A log without `lslocks` available:

*/var/log/recap/system_locks_20190215-124005.log*

[2019-02-18 21:39] mauved opened #203 "Top CPU consumers missorted"
The top CPU consumers in the resources file are not being sorted correctly on both older and newer operating systems. The pidstat version check seems to result in the 7th column always being used as the sorting key.

https://github.com/rackerlabs/recap/blob/4ceb5be3dbcf5bba29bbed6c402126e098c84270/src/core/resources#L112-L128

I did some testing to be sure. I ran `nice -n $(( RANDOM % 40 - 20 )) s

[2019-02-18 22:20] tonyskapunk commented on #203
Hi @mauved thanks for taking the time in opening and documenting this issue.

Hmmm, seems like a newer version of `pidstat` introduced `wait%` column.  I'll check all the distros supported to find where that one was added, since CentOS 7  is sorting it still right:

CentOS 7
[code]

I'll get this fixed, thanks!!

[2019-02-18 22:52] tonyskapunk commented on #203
The field was added in version 11.5.5: https://github.com/sysstat/sysstat/blob/master/CHANGES#L269

These are the pidstat versions per distro supported:

Red Hat based:
  - centos6: 9.0.4
  - centos7: 10.1.5

  - fedora28: 11.7.3*
  - fedora29: 11.7.3*
  - rawhide:  11.7.3*

Debian based:
  - debian8: 11.0.1
  - debian9: 11.4.3
  - debian10: 12.0.1*

  - ubuntu14: 10.2.0
  - ubuntu16: 11.2.0
  - u

[2019-02-19 19:30] tonyskapunk commented on #203
@mauved I got a fix in #204. Would you mind giving it a look and provide any feedback you may have? Thanks!

Tests of the new way to calculate the %CPU field:

u14:
[code]

u16:
[code]

u18
[code]

c6:
[code]

c7:
[code]

d8:
[code]

d9:
[code]

d10(buster):
[code]

f29:
[code]

[2019-02-19 21:05] mauved commented on #203
### Test: CentOS 6
[code]

### Test: CentOS 7
[code]

### Test: Fedora 29
[code]

### Test: Debian Stretch
[code]

### Test: Debian Buster/Sid
[code]

### Test: Ubuntu 16.04
[code]
I tested on a bunch of OSs and it looks good now! Test results posted below.

### Test: Ubuntu 18.04
[code]

[2019-02-19 21:07] mauved commented on #203
Whoops, goofed up my previous post a bit. I tested recap in a handful of OSs and the sorting looks good now.

[2019-02-19 21:17] tonyskapunk commented on #203
Yay!, thanks for checking!

[2019-02-19 21:18] tonyskapunk commented on #203
Fixed in #204

[2019-02-19 21:18] #203 closed

[2019-02-23 13:21] tonodor commented on #189
Looks good to me,
Thanks @tonyskapunk for your help, much appreciated!

[2019-02-23 13:21] #189 closed

[2019-04-10 08:43] tonodor opened #207 "recaplog fails to create daily summaries on RHEL 6"
I've noticed that on RHEL 6, recap 2.0.2 fails to create the daily summaries with the following error:

[code]

The issue seems to be that the awk regex to retrieve the report names it's not interpreted correctly. I've applied the following patch to resolve it but I haven't tested it on any other OS:

[code]

[2019-04-10 13:58] tonyskapunk commented on #207
Hi @tonodor, thanks for taking the time in reporting this and providing a possible solution.

I'll do some testing to verify if only el6 is affected or if other distros are also affected.

[2019-04-10 13:59] tonyskapunk opened #208 "SIGCHLD behaviour in bash 5.0 - recaplog"
This is related to the issue #191 and the cause documented in #192

The fix (removing signal 17) was performed only in `recap` not in `recaplog`. Any distro using bash 5.0+ is affected, it is limited to:

Supported Distros:
- Debian (Buster)
- Fedora Rawhide

Other Distros I'm aware:
- Arch linux

[2019-04-10 14:07] tonyskapunk commented on #181
An example of the necessity of this: #208 and #209

[2019-04-10 17:02] tonyskapunk commented on #207
I confirmed only el6 is affected by this :(

Your suggestion works with all distros, so is good to use it for this case.

[2019-04-10 17:03] tonyskapunk commented on #181
Another example: #207, #210

[2019-04-10 17:12] #208 closed

[2019-04-10 17:13] tonyskapunk commented on #207
The fix is merged in `development`

[2019-04-10 17:13] #207 closed

[2019-04-25 18:22] tonyskapunk opened #217 "Feature request: script to enable/disable plugins"
It would be nice to have `recap` to show the list of plugins available or enabled and to be able to enable/disable from there, then we can enable by default the plugins to be enabled.

[2019-05-06 21:46] mikegriffin opened #218 "resources iotop only show processes"
It might be easier to read the resources file when iotop is enabled if we pass `-P` by default.

You can see the clutter on a server running a daemon with a lot of threads (eg mysqld), where `-P` will show only a single line for all threads of a process (consolidated)

[2019-05-08 14:16] tonyskapunk commented on #218
Hi @mikegriffin, thanks for creating this.  As you mention using `-P` will depict a "consolidated" view in the `iotop` report as it will report per process and not per threads. The difference would be exactly that just the amount of threads and their ID. But I can see how process ID has more value than the Thread ID.

Here a difference on output using the first one Process the other one the curren

[2019-05-09 15:10] tonyskapunk commented on #218
The change does not break any other distro so I'm including it in the next release.

Some examples:
- fedora rawhide: https://travis-ci.org/rackerlabs/recap/jobs/530010746#L352-L361
- debian buster: https://travis-ci.org/rackerlabs/recap/jobs/530010744#L759-L768
- ubuntu bionic: https://travis-ci.org/rackerlabs/recap/jobs/530010741#L586-L595
- centos 7: https://travis-ci.org/rackerlabs/recap/jobs/

[2019-05-09 15:11] #218 closed, assigned to nobody

[2019-05-22 17:04] tonodor opened #220 "MySQL InnoDB status relies on pid_file option providing the full path"
I just discovered that the InnoDB report does not work if the pid_file option does not provide a full path.
For example, with MySQL 5.5 onto EL7, if the pid-file option is missing in my.cnf the service will set the value to the server hostname by default and the file is created inside the datadir:

[root@server-02 ~]# mysql -Bse "SHOW VARIABLES LIKE 'datadir'; SHOW VARIABLES LIKE 'pid_file';"
data

[2019-05-22 20:47] tonyskapunk commented on #220
Hi @tonodor thanks for taking the time in reporting this, I'll take a look to this to get it addressed.

If you feel like would like to contribute, you can find more info in https://github.com/rackerlabs/recap/blob/master/CONTRIBUTING.md PRs are welcome :smiley:

[2019-05-22 20:48] tonyskapunk opened #221 "Add templates to github issues/PRs"
Please add github templates for issues and PRs.

[2019-05-23 16:12] tonodor commented on #220
Hey @tonyskapunk
I've just created #222 to fix this issue 👍

[2019-05-24 01:37] tonyskapunk commented on #220
Thanks so much @tonodor I'll review this one tomorrow morning

[2019-05-24 17:41] tonyskapunk commented on #220
@tonodor thank you for the report and also for providing the fix!!

[2019-05-24 17:41] #220 closed, assigned to nobody

[2019-05-31 16:37] tonyskapunk commented on #221
Fixed in #223

[2019-05-31 16:37] #221 closed, assigned to nobody

[2019-10-30 16:20] stephenl03 opened #227 "Log file permissions"
The files generated in `/var/log/recap/` should be `640` to follow security best practices. Allowing "other" read access could expose sensitive information for an attacker that has gained lower privilege access.

[code]

[2019-10-30 16:48] tonyskapunk commented on #227
Hi @stephenl03 thanks for taking the time reporting this.

Do you know how `recap` was installed in that example you provided?

Anything that does rely in the use of `Makefile` (this includes `rpm`, `deb` packages, the `ansible` playbook in this repo and even on its own) should set the permissions for the ` LOGDIR` (`/var/log/recap` in this case) to `0750`:

https://github.com/rackerlabs/recap/blo

[2019-10-30 18:35] stephenl03 commented on #227
Installed via apt, `apt-get -y install recap`. It looks like the Rackspace mirror's latest is 1.3.0-1 available.

[code]

As the permission issues seem to be fixed in a newer version and the repo the package was installed from is outdated, we can close the issue at this time.

[2019-10-30 18:35] #227 closed, assigned to tonyskapunk

[2019-11-11 17:32] tonyskapunk opened #228 "Non-exec scripts"
When building the recap rpm, rpmlint reports multiple files with a `non-executable-script` error. Let's get that fixed.

[code]

Source: https://taskotron.fedoraproject.org/artifacts/all/b2473242-dfa3-11e9-b225-52540077ca13/tests.yml/recap-2.1.0-3.fc30.log

The solution is super easy, from http://wiki.rosalab.ru/en/index.php/Rpmlint_Errors

[2019-11-14 21:37] #228 closed, assigned to nobody

[2019-11-26 05:56] tonyskapunk commented on #217
Added in #224

[2019-11-26 05:56] #217 closed, assigned to tonyskapunk

[2020-07-13 21:23] mikegriffin opened #231 "option: mysql show processlist instead of show full processlist"
It would be nice to have a non-FULL processlist configuration that continues to default to full processlist (call a new print_mysql_full_procs):

Whether the above is implemented or not, it would be good to correct existing logging which incorrectly claims that "show processlist" was issued.

This feature request is to avoid having to suppress all error messages going to email from cron, when you

[2020-07-18 20:18] tonyskapunk commented on #231
Hi @mikegriffin thanks for opening this request.

I see the concern, currently the `USEMYSQLPROCESSLIST` is using `-v` in the process list command in a couple of places:

https://github.com/rackerlabs/recap/blob/b4d296a5d0291a020ef15ce3243837dbc68d0590/src/core/mysql#L104

https://github.com/rackerlabs/recap/blob/b4d296a5d0291a020ef15ce3243837dbc68d0590/src/core/mysql#L121

I think is easy to crea

[2020-07-18 20:27] tonyskapunk opened #232 "Add my account to allow write into this repository"
I'm not with Rackspace any longer and thus my account has been removed from the `rackerlabs` org.

I remain maintaining this repository and some of their packages. But I need to be added as an [outside collaborator](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/adding-outside-collaborators-to-repositories-in-your-organization) with writing permissions to allow m

[2020-07-21 17:03] terackspace commented on #232
@tonyskapunk I've attempted to add you directly to the repo as an Outside Code-Destroyer, there should be an invite waiting for you...

[2020-07-21 19:43] tonyskapunk commented on #232
@terackspace thanks for the quick response, I've accepted the invitation and I see I have the expected permissions as before :smile_cat:

Thanks again!!

[2020-07-21 19:43] #232 closed, assigned to nobody

[2020-11-10 15:59] petecassetta opened #235 "http_status plugin should work with both "links" and "elinks""
The Apache status report has always been OK with either links or elinks. But if someone configures it with links, all they get in the recap log is:

elinks is not installed

This is easy to fix. Just edit line 40:
Current: http_tool=$( type -p elinks )
Fixed: http_tool=$( type -p elinks || type -p links )

[2020-11-10 16:47] tonyskapunk commented on #235
Hi, @petecassetta thanks for opening this issue.

We used to support `links` but the problem is that it will pull so many packages that [we decided to drop it and use `elinks` (#170)](https://github.com/rackerlabs/recap/issues/170).

Granted, we don't force people to have `elinks` installed rather we [recommend it](https://src.fedoraproject.org/rpms/recap/blob/master/f/recap.spec#_29)  as [discuss

[2020-11-10 17:16] petecassetta commented on #235
Yes, of course elinks is more lightweight. But if people are happily using the Apache status report with links, and they configure the http_status plugin, it is surprising that it fails to give them any information. My recommended code does not require links in any way, in fact it prefers elinks. But it allows recap to log meaningful results on a server that is already configured with links instea

[2020-11-10 17:26] petecassetta commented on #235
Alternatively, if recap is going to only support elinks, I think that should be documented somewhere, maybe in the header of the http_status script, the project wiki, etc. so that users don't need to read the code to discover that behavior. Is there a document somewhere that specifies which binaries recap requires? I remember you telling me once that you switched from netstat to ss, for example.

[2020-11-10 17:43] petecassetta commented on #235
Maybe a good solution would be to add elinks to the dependencies, as I see it is not there:

# CentOS 6
$ rpm -qR recap
/bin/bash
/bin/sh
config(recap) = 2.1.0-6.el6
crontabs
iotop
iproute
procps
psmisc
rpmlib(CompressedFileNames) <= 3.0.4-1
rpmlib(FileDigests) <= 4.6.0-1
rpmlib(PayloadFilesHavePrefix) <= 4.0-1
rpmlib(VersionedDependencies) <= 3.0.3-1
sysstat >= 9
rpmlib(PayloadIsXz) <= 5.2-1

# C

[2020-11-10 20:10] tonyskapunk commented on #235
It is documented in the [README under dependencies](https://github.com/rackerlabs/recap#dependencies).  But I agree is not clear, that should be documented in a better way.

:disappointed: That needs a major update. I know @stephenlang had a great improvement for the wiki but not sure if he is still able to help with it.

Sorry for the confusion, I meant that we don't have `elinks` as a dependency

[2020-11-10 21:24] petecassetta commented on #235
This item is not an urgent priority at all, it still just seems like an odd design decision to force use of elinks when links is equally acceptable to apachectl and people have been happily using both utilities to view the Apache status report for years. I've already updated our internal wiki's to communicate that elinks should be used, and this item probably isn't worth as much discussion as we'v

[2020-11-11 15:05] tonyskapunk commented on #235
I hear you, sorry it feels this strange.

Nonetheless, despite the abruptness, I believe it was a good move as we reduced lots of dependencies. Additionally, we are having a double benefit as `links` is replaced by `elinks`.

I'll go ahead and close this now, thanks again for taking the time to open this issue.

[2020-11-11 15:05] #235 closed, assigned to nobody

[2020-12-24 12:41] tonodor opened #238 "MySQL InnoDB status report is not retrieved if MySQL tmpdir points to a symlink"
I have found that if MySQL tmpdir points to a symlink, recap fails to retrieve the InnoDB status report.
This is because it compares the path of InnoDB temporary files with the tmpdir value but fails because the paths contain the destination folder:

[code]

I'm going to submit a PR to address this.

[2020-12-29 19:05] tonyskapunk commented on #238
Hi, @tonodor thanks for reporting this issue, and thanks for providing a PR. I'll review and provide feedback there.

[2020-12-29 19:48] tonyskapunk commented on #238
Fixed in #239

[2020-12-29 19:48] #238 closed, assigned to nobody

[2020-12-29 20:10] tonyskapunk opened #240 "CentOS 8 Image from docker.io failing on build"
https://travis-ci.org/github/rackerlabs/recap/jobs/752021765#L147

Found that the image used by Travis CI is failing as PowerTools repo may not be available.

[code]

The image from library/centos is newer and failing, the one from registry.centos.org is working as expected:

- library/centos:

[code]

- registry.centos.org:

[code]

[2020-12-30 05:16] tonyskapunk commented on #240
The package that provides the `PowerTools` repository changes from 8.2 to 8.3:

[code]

The repo changes from `PowerTools` to `powertools`

[2020-12-30 19:01] tonyskapunk opened #242 "Retire EOL distros from build"
While working on #240 I found some EOL distros are failing, at this point CentOS 6 and Debian 6 are EOL

- CentOS 6 EOL [2020-11-20](https://wiki.centos.org/About/Product)
- Debian 8 (jessie) [2020-06-30](https://www.debian.org/News/2020/20200709)

[2020-12-31 02:39] #242 closed, assigned to nobody

[2020-12-31 02:40] #240 closed, assigned to nobody

[2022-06-15 15:38] terackspace opened #247 "RHEL9: elinks is no longer in the distro"
The `elinks` package has been removed from RHEL9, we need to craft a replacement for that feature.

[2022-06-15 15:41] terackspace commented on #247
@dsgnr is having a look to see what we can do here, along with @mik11231

[2022-06-15 18:09] terackspace commented on #247
Initial investigations show that `lynx` is in the standard AppStream repo on 9 (confirmed on AlmaLinux 9 as well), and it has a `-dump` option that appears to be drop-in compatible for `elinks`. Might be a simple tool swap and RPM dependency update (famous last words).

[2022-07-07 21:58] tonyskapunk opened #249 "Use another CI system"
Since June 15th, 2021, the building on [travis-ci.org](http://www.travis-ci.org/) is ceased.

GHA is a quick and free option

[2022-08-10 13:58] terackspace opened #251 "Version 2.1.0 needed in buster-backports / focal-backports"
Issue #208 already fixed is kind of bad on Debian 10 and Ubuntu 20.04 as they only have the older 2.0.2 in the main repo and never upgraded to 2.1.0 to get these fixes. The result is that recaplog is basically not working to clean up logs at all, causing `/var/log/recap/` to fill up over time.

Does anyone in the recap project have an idea how we ask Debian / Ubuntu to promote the newer 2.1.0 into

[2022-08-10 15:27] tonyskapunk commented on #251
@jkirk do you know if there's a way to backport recap 2.10 into Debian [buster(oldstable)](https://packages.debian.org/buster/recap) and Ubuntu [focal (LTS)](https://packages.ubuntu.com/focal/recap)

For Debian, should a bug be opened via https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=recap;dist=oldstable ?

[2022-09-10 02:48] tonyskapunk opened #252 "Cron generates warning mail "egrep: warning: egrep is obsolescent; using grep -E" with GNU grep 3.8 every 5 minutes"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1019444

[2022-09-10 02:50] tonyskapunk commented on #252
A quick search: https://github.com/rackerlabs/recap/search?q=egrep&type=